@import url(
    'https://fonts.googleapis.com/css2?family=Roboto&display=swap'
);
@import url(
    'https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap'
);

    * {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
    };

    body {
        -webkit-font-smoothing: antialiased;
        background-color: #F0F0F5;
    };

    body, input, button {
        font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
    };